<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	    <title>{% block title %}{% endblock %} - TranSMART Arborist</title>
			<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}" />
    {% endblock %}
</head>
<body>
    <div id="content">
      <h1>{{ self.title() }}</h1>
      <p><a href="{{ url_for('studies_overview') }}">Studies overview</a>
      {% if study%}
      > <a href="{{ url_for('study_page', study=study) }}">{{study}}</a>
      {% endif%}
      </p>
      <hr />
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <hr />
        	tranSMART Arborist is
					<a href="https://github.com/thehyve/transmart-arborist/blob/master/LICENSE">open source</a>
					and available on <a href="https://github.com/thehyve/transmart-arborist">Github</a>. -
          <a href="https://github.com/thehyve/transmart-arborist/issues/new?title=Issue%20in%20{{request.endpoint|urlencode}}&amp;body=Issue encountered in {{request.endpoint|urlencode}} on {{request.path|urlencode}}">
            Click here to report an issue</a>.
        {% endblock %}
    </div>
</body>
</html>
