{% extends "layout.html" %}
{% block title %}Studies overview{% endblock %}
{% block content %}
	<form method="post" id="changestudiesfolder" style="display:table;width:100%;overflow: hidden;">
		<input type="submit" value="Change" style="float:right; width: 100px;" />
		<span style="display: block; overflow: hidden; padding-right:100px; white-space:nowrap;">
		<label for="studiesfolder">Studies folder:</label>
		<input name="studiesfolder" type="text" value="{{studiesfolder}}" style="width:100%" />
		</span>
	</form>
	<p><a href="#" id="gotoparent">[go to parent directory]</a></p>
	<ul>
	{% for study in studies %}
		{% if studies[study]['type'] == 'study' %}
		<li class="study"><a href="{{ url_for('study_page', study=study) }}">{{study}}</a></li>
		{% else %}
		<li class="folder"><a class="gotofolder" href="#">{{study}}</a></li>
		{% endif %}
	{% else %}
		<li>No studies</li>
	{% endfor %}
	</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
$('a#gotoparent').click( function(event) {
	event.preventDefault();
	$( "input[name='studiesfolder']" ).val('{{parentfolder}}');
	$( "form#changestudiesfolder" ).submit();
});

$('a.gotofolder').click( function(event) {
	event.preventDefault();
	var txt = $(event.target).text();
	$( "input[name='studiesfolder']" ).val('{{studiesfolder}}'+'/'+txt);
	$( "form#changestudiesfolder" ).submit();
});


</script>

{% endblock %}
