{% extends "layout.html" %}
{% block title %}Study {{study}}{% endblock %}
{% block content %}
	<h2>Study data</h2>
	<ul>
	{% for param in studyparams %}
		<li>{{param}}: {{studyparams[param]}}</li>
	{% else %}
		<li>No study.params</li>
	{% endfor %}
	</ul>

	<h2>Clinical data</h2>
	<ul>
	{% for param in clinicalparams %}
		<li>{{param}}: {{clinicalparams[param]}}</li>
		{% if param == 'COLUMN_MAP_FILE' %}
		<ul><li><a href="{{ url_for('edit_tree', study=study) }}">Edit tree</a></li></ul>
		{% endif %}
	{% else %}
		<li>No clinical.params</li>
	{% endfor %}
	</ul>
{% endblock %}
