{% extends "layout.html" %}
{% block title %}Studies overview{% endblock %}
{% block content %}
  <h1>Studies overview</h1>
	<form method="post">
		<label for="studiesfolder">Studies folder:</label>
		<input name="studiesfolder" type="text" value="{{studiesfolder}}" width="300px" />
		<input type="submit" value="Change" />
	</form>
	<ul>
	{% for study in studies %}
		<li><a href="/study/{{study}}/clinical/upload/">{{study}}</a></li>
	{% else %}
		<li>No studies</li>
	{% endfor %}
	</ul>
{% endblock %}
