{% extends "layout.html" %}
{% block title %}TranSMART tree{% endblock %}
{% block head %}
    {{ super() }}
		<style>
			div#treediv { overflow:auto; border:1px solid silver; min-height: 300px;}
			label {text-align: right; float: left; width: 150px; padding-right: 5px;}
			input[type=text] {float: left; width: 300px;}
			select {float: left; width: 300px;}
			fieldset p {clear: both; padding: 5px; }
		</style>
		<link rel="stylesheet" href="/static/jstree/dist/themes/default/style.min.css" />
{% endblock %}
{% block content %}
	<h1>TranSMART Tree</h1>
	<p><a href="/">Upload new column mapping file</a></p>
	<div id="treediv"></div>

	<p><button id="export">Create output files</button></p>
	<p id="outputlinks"></p>
	<form id="datanodedetails">
		<fieldset>
			<legend>Data node details</legend>
			<p>
				<label for="datalabel">Data Label</label>
				<input type="text" name="datalabel" required="true" />
			</p>
			<p>
				<label for="nodetype">Node type</label>
				<select name="nodetype">
					<option value="default">Folder</option>
					<option value="numeric">Numerical</option>
					<option value="alpha">Categorical</option>
					<option value="highdim">High-dimensional</option>
					<option value="codeleaf">Special concept</option>
				</select>
			</p>
			<p>
				<label for="filename">Filename</label>
				<input class="clinicaldata" type="text" name="filename" />
			</p>
			<p>
				<label for="columnnumber">Column Number</label>
				<input class="clinicaldata" type="text" name="columnnumber" />
			</p>
			<p>
				<label for="datalabelsource">Data Label Source</label>
				<input class="clinicaldata" type="text" name="datalabelsource" />
			</p>
			<p>
				<label for="controlvocabcd">Control Vocab Cd</label>
				<input class="clinicaldata" type="text" name="controlvocabcd" />
			</p>
			<input type="submit" value="Apply changes" style="float: right;" />
			<span style="float: right; padding-right: 5px;" id="feedback"></span>
		</fieldset>
	</form>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/static/jstree/dist/jstree.min.js"></script>

	<script>
	// Send tree JSON to Python and create links to exorted files
	$(function() {
		$('button#export').bind('click', function() {
			var v = $('#treediv').jstree(true).get_json()
			var tree = JSON.stringify(v);

			$.ajax({
				method: "POST",
				contentType: "application/json",
				url: "/prepare_columnsfile",
				data: tree
			})
			.done(function( msg ) {
				console.log( "Data Saved: " + msg.columnsfile );
				document.getElementById("outputlinks").innerHTML = '<a href="/downloads/'+msg.columnsfile+'" target="_blank">Column mapping file</a>';
			});

			return false;
		});
	});

	var node;

	$("form").submit(function (e) {
		e.preventDefault();

		if (typeof node != 'undefined') {

			var text = $( "input[name='datalabel']" ).val();
			var updated = $("#treediv").jstree('rename_node', node , text );
			var type = $("select[name='nodetype']").val();
			$("#treediv").jstree('set_type', node , type );
			enableRightFields(type);

			if (typeof node.data == 'undefined') {
				node.data = {}
			}

			node.data['Filename']           = $( "input[name='filename']"         ).val();
			node.data['Column Number']      = $( "input[name='columnnumber']"     ).val();
			node.data['Data Label Source']  = $( "input[name='datalabelsource']"  ).val();
			node.data['Control Vocab Cd']   = $( "input[name='controlvocabcd']"   ).val();
			if (updated) {feedback("Successfully applied", false)}
		} else {feedback("No node selected", true)}
	});

	function enableRightFields(type){
		if (type != 'default') {
			$('.clinicaldata').prop('disabled', false);
		} else {
			$('.clinicaldata').prop('disabled', true);
		}
	}

	function feedback(string, error) {
		$( "span#feedback" ).html(string);
		if (error) {
			$( "span#feedback" ).css('color', 'red');
		} else {
			$( "span#feedback" ).css('color', 'green');
		}
		setTimeout(function() {
			$( "span#feedback" ).html("");
		}, 2000);
	}

	// Create the tree
	$('#treediv')
	// listen for event
	.on('select_node.jstree', function (e, data) {
		node = data.instance.get_node(data.selected[0]);
		$( "form#datanodedetails" )[0].reset();
		$( "input[name='datalabel']" ).val(node.text);
		$("select[name='nodetype']").val(node.type);

		enableRightFields(node.type);

		if (typeof node.data !== 'undefined') {
			$( "input[name='filename']" ).val(node.data['Filename']);
			$( "input[name='columnnumber']" ).val(node.data['Column Number']);
			if (typeof node.data['Data Label Source'] !== 'undefined') {
				$( "input[name='datalabelsource']" ).val(node.data['Data Label Source']);
			}
			if (typeof node.data['Control Vocab Cd'] !== 'undefined') {
				$( "input[name='controlvocabcd']" ).val(node.data['Control Vocab Cd']);
			}
		}
	})
	// create the instance
	.jstree({
		'core' : {
			'data' : {{ json | safe }},
			"check_callback" : true
		},
		"types" : {
			"default" : {
				"icon" : "/static/img/tree/folder.gif",
				"valid_children" : ["alpha","numeric","highdim","default"]
			},
			"study" : {
				"icon" : "/static/img/tree/study.png",
				"valid_children" : "all"
			},
			"alpha" : {
				"icon" : "/static/img/tree/alpha.gif",
				"valid_children" : "none"
			},
			"numeric" : {
				"icon" : "/static/img/tree/numeric.gif",
				"valid_children" : "none"
			},
			"highdim" : {
				"icon" : "/static/img/tree/dna_icon.png",
				"valid_children" : "none"
			},
			"codeleaf" : {
				"icon" : "/static/img/tree/code.png",
				"valid_children" : "none"
			},
		},
		'sort': function (a, b) {
			if ((this.get_type(a) == 'default') && (this.get_type(b) != 'default')) {
				return -1;
			} else if ((this.get_type(a) != 'default') && (this.get_type(b) == 'default')) {
				return 1;
			} else {
				return this.get_text(a) > this.get_text(b) ? 1 : -1;
			}
		},
		"plugins" : [ "dnd", "sort", "contextmenu", "types" ]
	});

	</script>
	{% endblock %}
